/*Base Styling for Entire Page*/
*, *:before, *:after{
	box-sizing: border-box;
}

body{
	background-color: #e5ebed;
	border: thin 2px #19a3d1;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

h1{
	font-family: 'Roboto Slab', serif;
	color: grey;
	font-size: 22pt;
	padding-top: 10px;
}

.accent-color{
	color: #19a3d1;
}

h1, h2, h3{
	font-family: 'Roboto Slab', serif;
}

/*Title, Input Fields, Save Button*/
header{
	background: #003D51;
	text-align: center;
}

.input{
	border: 2px solid #19a3d1;
	height: 33px;
	margin: 10px 10px 5px 10px;
	padding: 10px 5px;
	font-size: 13pt;
	width: 85%;
}

.idea-input{
	height: 78px;
}

input::placeholder{
	font-size: 13pt;
	color: #CFD8DC;
}

textarea{
	resize: none;
	width: 85%;
	height: 100px;
	margin: 10px 10px 5px 10px;
	font-size: 13pt;
}

textarea::placeholder{
	font-size: 13pt;
	color: #CFD8DC;
}

.button{
	background: #F97F66;
	color: #FFFFFF;	
	border: none;
	width: 85%;
	margin: 10px 10px 20px 10px;
	height: 35px;
	font-size: 18px;
}

button.isCompleted{
	border: black;
	background: #F97F66;
}

.button:disabled{
	background-color: grey;
}

.button:hover{
	background: #0099cc;
}

span#body-char-count{
	color: #D1D3D4;
	margin-left: 60%;
	position: relative;
	z-index: 2;
	bottom: 45px;
	font-size: 35px;
}

div.top-card{
	display: flex;
	justify-content: space-between;
}

select{
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   text-align: center;
   height: 16px;
   width: 75px;
}

.enter-button{
	display: block;
}


/*Main Container*/
.container{
	text-align: center;
	margin-top: 5px;
}

span.filtering{
	display: block;
}

.idea-title{
	display: inline-block;
}

.overdue{
	color: #CC3300;
	display: inline-block;
}
.overdue-display-none{
	display: none;
}

.icon{
	width: 25px;
	height: 25px;
}



#search-input{
	margin-top: 15px;
}

button.restore-completed{
	background-color: #F97F66 ;
	display: block;
	margin: 0px auto;
	border: 1px solid #F97F66;
	font-size: 15px;
}

button.restore-completed:hover{
	background-color: #F95939
}

button.restore-completed:disabled{
	background-color: #F9F1EF;
}
h2{
	color: #6D6E71;
	font-size: 18px;
}

h2.completed{
	text-decoration: line-through;
}

.idea-article{
	background-color: #FFF;
	border: 1px solid #0099cc;
	width: 85%;
	margin: 20px auto;
	padding: 5px;
	text-align: left;
}

.idea-article.completed{
	background-color: #cecece;
	opacity: .5;
}

.date{
	display: block;
}

.task-due-date{
	justify-content: space-between;
	font-size: 12px;
}

.due-content{
	margin-left: 5px;
}

/*Importance Buttons*/
ul{
	width: 85%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5px auto;
	font-size: 10px;
}

li{
	display: inline;
	padding: 5px 10px;
	border: 1px solid #F98B76;
	font-size: 10px;
}

li.spacer1{
	display: none;
}

li.spacer2{
	display: none;
}

li.spacer3{
	display: none;
}

li.five{
	margin-right: 0px;
}

li:hover{
	background-color: #F9836B;
}

li.active-filter{
	background-color: #F9E5E0;
}

.filter-accent{
	color: #F9BBAE;
}

.icon-buttons{
	height: 25px;
	width: 25px;
	margin-right: 15px;
	background-position: cover;
	background-repeat: no-repeat;
}

div.date-select{
	margin-top: -30px;
}


.delete-button{
	
	background:url('../images/delete.svg');
}

.delete-button:hover{
	background: url('../images/delete-hover.svg');
}

.delete-button{
	margin-right: 0px;
}

.upvote-button{
	background: url('../images/upvote.svg') 0 0 no-repeat;
}

.upvote-button:hover{
	background:url('../images/upvote-hover.svg') 0 0 no-repeat;
}

.downvote-button{
	background: url('../images/downvote.svg');
}

.downvote-button:hover{
	background: url('../images/downvote-hover.svg');
}
.quality-completed{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.quality-rank{
	display: flex;
	flex-direction: row;
	color: #6D6E71;
	align-items: center;
	font-size: 10pt;
}

.idea-paragraph{
	color: #939598;
	font-size: 12pt;
	margin: 10px auto 20px auto;
}

.idea-paragraph.completed{
	text-decoration: line-through;
}

p.completed{
	text-decoration: line-through;
}

hr{
	border: 1px solid #D1D3D4;
	margin-top: 20px;
} 

.card-display-none{
	display: none;
}


@media only screen and (min-width: 600px){

	main.container{
		text-align: center;
	}

	h1{
		font-size: 27pt;
		margin-bottom: 20px;
		padding-top: 18px;
	}

	ul{
		width: 70%;
		font-size: 13px;
	}


	li{
		font-size: 13px;
	}

	.input{
		font-size: 18px;
		margin: 5px 15px;
		width: 70%;
		height: 30px;
	}

	.idea-input{
		height: 100px;
	}

	.button{
		font-size: 17px;
		height: 28px;
		width: 70%;
	}

	.filter{
		
	}

	.idea-article{
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (max-width: 420px){

}

@media only screen and (max-width: 380px){
	
	button.isCompleted{
		font-size: 10px;
	}

	p.importance{
		font-size: 10px;
	}

}
@media only screen and (max-width: 325px){
	ul{
		flex-wrap: wrap;
	}
	li{
		margin-top: 5px;
	}

	li.spacer3{
		display: inline-block;
		border: none;
		width: 120px;
	}
	p.task-due-date{
		font-size: 10px;
	}

	.icon-buttons{
		height: 20px;
		width: 20px;
		margin-right: 7px;
	}

	.delete-button{
		margin-right: 0px;
	}
}


