
*, *:before, *:after {
  box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

h1 {
	font-family: 'Roboto Slab', serif;
	color: #6D6E71;
	font-size: 22pt;
	padding-top: 10px;
}


h1, h2, h3 {
font-family: 'Roboto Slab', serif;	
}



/*header styles*/

header {
	background: #F9D6CF;
	text-align: center;
}

.accent-color {
	color: #F93811;
}

.input {
	width: 85%;
	margin: 10px 10px 5px 10px;
	height: 33px;
	padding: 10px 5px;
	/*padding-right: 10px auto;*/
	border: 2px solid #D1D3D4;
	font-size: 13pt;
}

.idea-input {
	height: 78px;
}

input::placeholder {
font-size: 13pt;
color: #CFD8DC;
}

textarea{
	resize: none;
	width: 85%;
	height: 100px;
	margin: 10px 10px 5px 10px;
	font-size: 13pt;
}

textarea::placeholder {
	font-size: 13pt;
	color: #CFD8DC;
}


.button {
	background: #F97F66;
	color: #FFFFFF;	
	border: none;
	width: 85%;
	margin: 10px 10px 20px 10px;
	height: 35px;
	font-size: 18px;

}

.button:disabled{
	background-color: grey;
}

.button:hover {
	background: #F95939;
}

/*main container styles*/

.container {
	text-align: center;
	margin-top: 5px;
}

.icon {
	width: 25px;
	height: 25px;
}

.right {
	float: right;
}


h2 {
	
	color: #6D6E71;
	font-size: 18px;
}

.idea-article {
	width: 85%;
	margin: 20px auto;
	padding-top: 5px;
	text-align: left;
}

#search-input {
	margin-top: 15px;
}

ul{
	width:85%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5px auto;
}

li{
	display: inline;
	padding: 10px 20px;
	border: 1px solid #F98B76;
}

li:hover{
	background-color: #F9E5E0;
}

li.active-filter{
	background-color: #F9E5E0;
}

.filter-accent{
	color: #F98B76;
}

.icon-buttons {
	height: 25px;
	width: 25px;
	/*display: inline;*/
	margin-right: 15px;
}

.delete-button {
	
	background:url('../images/delete.svg');
}

.delete-button:hover {
	background: url('../images/delete-hover.svg');
}

.delete-button {
	margin-top: -20px;
	margin-right: 20px;
}

.upvote-button {
	background: url('../images/upvote.svg') 0 0 no-repeat;
}

.upvote-button:hover {
	background:url('../images/upvote-hover.svg') 0 0 no-repeat;
}

.downvote-button {
	background: url('../images/downvote.svg');
}

.downvote-button:hover {
	background: url('../images/downvote-hover.svg');
}

.quality-rank {
	display: flex;
	flex-direction: row;
	color: #6D6E71;
	font-size: 10pt;
}

.idea-paragraph {
	color: #939598;
	font-size: 12pt;
	margin: 10px auto 20px auto;
	
}

hr {
	border: 1px solid #D1D3D4;
	margin-top: 20px;
} 

.card-display-none {
	display: none;
}

@media only screen and (min-width: 800px){


main.container {
	text-align: center;
}

h1 {
	font-size: 27pt;
	margin-bottom: 20px;
	padding-top: 18px;
}

.input {
	font-size: 18px;
	margin: 5px 15px;
	width: 50%;
	height: 30px;
}

.idea-input {
	height: 100px;
}

.button {
	font-size: 17px;
	height: 28px;
	width: 50%;
}

.idea-article {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}



}






